@media only screen and (max-width:668px) {
    .banner{
        width: 100%;
    }
    .banner-photo img{
        width: 500px 300px
    }
    .responsive{
        display: grid;
        grid-template-columns: repeat(2 1fr);
        
    }
    .banner-photo img{ 
        margin-left: -400px;
    }
    .responsive .highlights-content{
        width: 100%;
    }
    .responsive h1{
        font-size: 25px;
    }
    .player-details{
        
    }
    .players{
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
    }
    .player{
        height: 550px;
    margin-right: 0;
    margin-right: 100px;
        width:720px;
    }






     .highlights{
         display: block;
     } 
     .highlights-video img{
        width: 100%;
        
     }     
     .sponsor-items h2{
         text-align:center
     }
     .footer{
        
    }
}