/* common styles */
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background: #0000000c;
}
main{
    
   
}
.container{
    width: 1160px;
    position: relative;
    background: #00000000;
    
}
/* ------common style end ------*/
.banner{
    background-color: blue;
    
    align-items: center;
}
.banner h1{
    color: white;
}
.banner .highlights-details{
    margin-top: 27px;
}

.banner .banner-photo .player-pic img{
    position: relative
    
}
.banner .banner-photo .player-pic img:hover {
    transform:rotate(-2deg);
    transform-origin:center;
    transition: transform 1s ease-out ;
}

.banner .banner-photo .ball-pic img{
    position: absolute;
    top: 100px;
    width: 50px;
    height: 50px;
}
.banner .banner-photo:hover .ball-pic img{
    transform: translate(30px);
    bottom: 60px;
}
/* ---------------
            player-details start
-----------------*/
.player-details{
    margin-top: 10px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    justify-content: center;
    grid-column-gap: 30px;
    grid-row-gap: 27px;
    height: 100%;
    
}
.player{
    background-color: white;
    margin: auto;
    padding: 15px;
    width: 330px;
    height:474px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    
}
.player img{
    margin: 16px 0px;
    width: 300px;
    width: 100%;
    height: 256px;
    overflow: hidden;
}

.player h2{
    margin: 0px;
    font-size: 28px;
    line-height: 40px;
    font-weight: 700;
    margin: 10px 0px;
    color: #18191F;
    width: 300px;
    left: calc(50% - 300px/2);
    top: 0%;
    bottom: 74.03%;
}
.player p{
    margin-top: 0;
    font-size: 16px;
    line-height: 26px;
    color: #6C6C6C;
}

/* ------------------
player-details end
---------------- */

/* ------highlights area start------  */
.highlights{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 70px;
    margin-top: 170px;
    
}
.highlights-content{
    margin: auto;
    width: 466px;
    height: 309px;
    line-height: 8px;
}

.highlights-content h1{
    margin: 0;
    width: 100%;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
}    
.highlights-details{
    line-height: 24px;
}
.highlights-details p{
    font-size: 16px;
    line-height: 28px;
    color: #6C6C6C;
    width: 404px;
    height: 113px;
    left: 0px;
    top: 128px
}
.watch{
    text-decoration: none;
    letter-spacing: 1px;
    color: white;
    background-color: #E02C6D;
    padding: 10px 30px;

}
span{
    padding-left: 5px;
}
.highlights img{
    width: 567px;
    height: 427px;    
}
/*-------
highlights section end
------  */


/* footer section start  */
footer{
    margin-top: 160px;
    margin-bottom: 63px;
}
.footer{
    margin: auto;
    width: 483.87px;
    height: 213px;
    
}
footer .logo img {
    width: 483.87px;
    height: 110px;
}
.footer .social-link{
    
    text-align: center;
}
.footer .social-link a{
    line-height: 8px;
    margin: 0;
    margin-top: 8px;
    padding: 0;
    font-size: 32px;
}
.footer p{
    gap: 8px;
    text-align: center;
    margin: 0;
    margin-top: 8px;
    padding: 0;
}

/* footer section end  */